
@{
    ViewBag.Title = "";
}

<span>Bienvenu sur le site de la Delpêche !</span>
<br />
<br />
<span>Voici les spécificités de ce projet :</span><br />
<span>- Listes des produits : Une liste de par défault est automatiquement chargé lorsque tous les produits sont supprimés. Pour cela il suffit de recharger la page</span><br />
<span>- Il y a deux appels ajax : Un dans la liste des produits pour la suppression. Un pour le formulaire de contact quand le mail est invalide</span><br />
<br />
<span>Pour la partie administrateur, vous pouvez vous connecter avec les logins que vous connaissez déjà.</span><br />
<span>Vous pouvez ajouter un article en cliquand sur le bouton "Créer Produit"</span><br />
<span>Pour modifier ou supprimer un article, il vous suffit de cliquer sur le logo correspondant dans la liste des articles</span><br />
<br />
<br />
<span>Disclamer : Suite a notre échange de message discord, nous en avions conclut que l'envoie de mail ne fonctionnait pas avec le smtp google, on a donc laissé le code comme convenu</span><br />
                                                                                                                                                                                              <span>Pour nous, la connexion ne fonctionne pas non plus. Nous avons donc laisser le code. Certaines fonctionnalités admins ne sont donc pas "Authorized"</span><br />
<br />
<br />

<span>Vous pouvez nous envoyer des mails en cliquant sur nos prénoms. Bonne découverte du site !</span>


<script>
    
</script>